
<div id="sidebar">		
			
	<ul id="mainNav">			
		<li id="navDashboard" class="nav active">
			<span class="icon-home"></span>
			<%= link_to 'Dashboard', panel_root_path %>
		</li>

		<li id="navTables" class="nav">
			<span class="icon-list"></span>
			<%= link_to 'User Accounts', panel_users_path %>
		</li>
		
		<li id="navTables" class="nav">
			<span class="icon-list"></span>
			<%= link_to "Teacher's Schedule", panel_teacher_schedules_path %>
		</li>


		<li id="navTables" class="nav">
			<span class="icon-info"></span>
			<%= link_to 'Request Substitution', panel_request_substitutions_path %>
		</li>


		<li id="navTables" class="nav">
			<span class="icon-document-alt-stroke"></span>
			<%= link_to 'Generate Report', nil %>
		</li>

		<li id="navTables" class="nav">
			<span class="icon-info"></span>
			<%= link_to 'Substitution Record', nil %>
		</li>

		
	</ul>
	
</div> <!-- #sidebar -->