
<tr >
	<td>
	
	</td>
	<td><%= detail.substitute.request_full_date %></td>
	<td><%= detail.teacher_subject.subject.code %></td>
	<td><%= detail.teacher_subject.room.name %></td>
	<td><%= detail.teacher_subject.section.name %></td>
	<td><%= detail.teacher_subject.subject_type.name %></td>
	<td><%= detail.teacher_subject.time_start.strftime('%l: %m %p') %></td>
	<td><%= detail.teacher_subject.time_end.strftime('%l: %m %p') %></td>
	<td><%= detail.teacher_subject.day_code.name%></td>	
	<td>
		<%= submit_tag 'Void', class: 'btn btn-primary btn-blue', 
											data: { confirm: 'Are you sure you want to Void this Request?' } %>
												&nbsp;&nbsp;&nbsp;									
	</td>
</tr>