<tr>
	<th>
		<% if remind_substitute.request_at_from ==  remind_substitute.request_at_to %>
			<%= remind_substitute.request_at_from.strftime('%m-%d-%Y') %> ..

		<% elsif %>
				<%= remind_substitute.request_full_date %>
		<% end %>
	</th>
	<th><%= remind_substitute.teacher.fullname %></th>
	<th><%= remind_substitute.reason.name %></th>
	<th><% if remind_substitute.planned == false %>
		Unplan
		<% elsif%>
		Plan
		<% end %>
	</th>
	<th>
		<% if remind_substitute.request_at_to <= Date.today %>
			<d style="color:green">Substitute</d>
		<% elsif remind_substitute.request_at_from <= Date.today + 1.day   %>
			<d style="color:red">On Going..</d>
		<% elsif remind_substitute.request_at_from <= Date.today + 1.day and remind_substitute.request_at_to <= Date.today   %>
			<d style="color:red">On Going..</d>
			<d style="color:green">Substitute</d>
		<% else %>
				waiting
		<% end %>
		<%= link_to edit_remind_substitute_path(remind_substitute) do %>
			<button class="btn btn-primary btn-blue">Edit</button>
		<% end %>
		
		<%= link_to 'Show', remind_substitute_path(remind_substitute), method: :get , :class => "btn btn-primary btn-blue" %>
	 
	</th>
</tr>	