<tr >
	<td><%= detail.substitute_teacher.fullname %></td>
	<td><%= detail.date_applied %> - <%= detail.date_applied.strftime('%a') %></td>
	<td><%= detail.teacher_subject.subject.code %></td>
	<td><%= detail.teacher_subject.room.name %></td>
	<td><%= detail.teacher_subject.section.name %></td>
	<td><%= detail.teacher_subject.subject_type.name %></td>
	<td><%= detail.teacher_subject.time_start.strftime('%l: %m %p') %></td>
	<td><%= detail.teacher_subject.time_end.strftime('%l: %m %p') %></td>
	<td>
		<%= link_to remind_substitutes_path do %>
				<button class="btn btn-primary btn-blue">
					Edit
				</button>
			<% end %>
	</td>
</tr>