
<div id="content">			
	<div id="contentHeader">
		<h1>Edit Plan Substitute</h1>
	</div> <!-- #contentHeader -->	
	<div class="container">
		<div class="grid-24">
			<% if notice %>
				 <div class="alert alert-success">
					<a class="close" href="javascript:;">×</a>
					<%= notice %>
				</div>
			<% end%>
			<div class="well">
				<h1><%= @remind_substitute.teacher.fullname %></h1>
			
				<% if @remind_substitute.request_at_from <=  Date.current.yesterday and
					@remind_substitute.request_at_to <=  Date.current.yesterday %>
					<h1><%= @remind_substitute.request_at_from.strftime('%m-%d-%Y') %></h1>
				<% elsif %>
						<h1><%= @remind_substitute.request_full_date %></h1>
				<% end %>
			</div>

			<%= form_for @remind_substitute, url: edit_remind_substitute_path(@edit_remind_substitute_details), :method => :put do |f| %>
				<table class="table table-bordered table-striped data-table">
						<thead>
							<tr>
								<th>Substitute Teacher</th>
								<th>Date Requested</th>
								<th>Subject Code</th>
								<th>Room #</th>
								<th>Section</th>
								<th>Type</th>
								<th>Start Time</th>
								<th>End Time</th>
								<th>Schedule</th>
								<th>Option</th>
							</tr>
						</thead>
		        <tbody>
							<%= render partial: 'edit_remind_substitute', collection: @edit_remind_substitute_details,  as: :detail %>
		        </tbody>
				</table>
				
				<div class="form-actions" id="final-confirmation-btn">
					<div class="pull-right">
					<%= link_to remind_substitutes_path(@remind_substitute) do %>
							<button class="btn btn-primary btn-blue">Cancel
							</button>
						<% end %>
					<div class="pull-right">

					<%= f.submit 'Update', class: 'btn btn-primary btn-blue', 
											data: { confirm: 'Are you sure you want to Void this Request?' } %>
												&nbsp;&nbsp;&nbsp;

					</div>
				</div>
			<% end %>
		</div>
	</div> <!-- .grid -->			
</div>
			
			
