	<!-- text input for teacher selection  -->
<legend>Teacher Requesting Schedule Substitution</legend>
<%= text_field_tag :teacher, nil, class: 'large' %>
<br />
<legend>Selected Teacher Subjects</legend>
<!-- load up selected teacher subject here -->
<div class="search">
	Search: <input type="text" id="kwd_search" value="" /> 
</div>
<table id="teacher-subjects-table" class="table table-bordered table-striped data-table">
	<thead>
		<tr>
			<th width="50%">Subject</th>
			<th>Start - End Time</th>
			<th>DayCode</th>
			<th>Options</th>
		</tr>
	</thead>
	<tbody></tbody>
</table>	

<!--  modal modal -->

<div class="modal" id="continue-assignment-alert" tabindex="-1" role="dialog" style="display:none"
	aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Do you really want to continue the assignment?</h3>
  </div>
  <div class="modal-body">
		<h1 class="assign-teacher well"></h1>
    <h2 class='assign-subject'></h2>
		<h3 class='assign-subject-time-daycode'></h3>
  </div>
  <div class="modal-footer">
    <button id='close-modal-btn' class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button id='continue-assignment-btn' class="btn btn-primary">Continue</button>
  </div>
</div>

<%= link_to  'alert-assignment', '#continue-assignment-alert', id: 'alert-assigntment-btn',
										data: { role: 'button', toggle: 'modal' }, class: 'btn', style: 'display:none' %>



<br /><br /><br /><br />
<div class="form-actions" id="final-confirmation-btn">
  <button type="button" class="btn" onclick="window.location = '/substitutes'">Cancel</button>
</div>


<script type="text/javascript">
		
	 $(document).ready(function() {
				
			 var teacher_id, subject_id, teacher_subject_id;
			 var remove_teacher_in_listing;
			
	     $("#teacher").tokenInput(teacherSource, 
				{ theme: 'facebook', 
					tokenLimit: 1,
					onAdd: function(item){
						// put value to assign-teacher and assing-subject
						$('.assign-teacher').html(item.name);
						teacher_id = item.id;
						
						$("#sub_teacher").tokenInput("remove", { id: item.id });
						remove_teacher_in_listing  = { id: item.id, name: item.name };
						
						console.log(remove_teacher_in_listing);
						
						// load up selected teacher subject
						$.ajax({
						  url: "<%= load_teacher_subject_substitutes_path %>",
							data: { teacher_id: item.id }
						}).done(function() { 
						  $(this).addClass("done");
						});
					},
					onDelete: function(){
						// remove subject if selected teacher was removed
						$('#teacher-subjects-table tbody').html(""); // set blank if techer was remove
					}
				});
				
				// listen to each subject when click
				$('.assign-subject-btn').live('click', function(){

					_parent = $(this).parent().parent();
					
					$('.assign-subject').html(_parent.data('subject-name'));
					$('.assign-subject-time-daycode').html(_parent.data('subject-time-daycode'));
					
					teacher_subject_id = _parent.data('teacher-subject-id');
					subject_id = _parent.data('subject-id');
					
					$('#alert-assigntment-btn').click();
				})
				
				// query server for available teacher
				$('#continue-assignment-btn').on('click', function(){
					
					$('#close-modal-btn').click();
					$('#step2-tab').click();
					
					
				})
				
				
				// step 2
				
				
				var sub_teacher_id;

				$("#sub_teacher").tokenInput(teacherSource, 
					{ theme: 'facebook', 
						tokenLimit: 1,
						onAdd: function(item){
							// put value to sub-teacher
							sub_teacher_id = item.id;
							
							$('.sub-teacher').html(item.name)
							$('#btn-step2-confirm').show();
							// load up selected teacher subject
							$.ajax({
							  url: "<%= load_sub_teacher_subjects_substitutes_path %>",
								data: { sub_teacher_id: item.id }
							}).done(function() { 
							  $(this).addClass("done");
							});
						},
						onDelete: function(){
							// remove subject if selected teacher was removed
							$('#btn-step2-confirm').hide();
							$('.sub-teacher').html("");
							$('#sub-teacher-subjects-table tbody').html(""); // set blank if techer was remove
							
							$("#teacher").tokenInput('add', remove_teacher_in_listing);
						}
					});


				$('#btn-step2-confirm').live('click', function(){
					$('#step3-tab').click();
					$('#create-request-btn').show();
				})
				
				
				
				
				// step 3
				
				
				$( "#date_substitute" ).datepicker({
							numberOfMonths: 2,
							showButtonPanel: true,
							changeMonth: true,
							changeYear: true
				});

				$('#create-request-btn').live('click', function(){
					// do the post do the post
					$.ajax({
						beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
						type: 'POST',
					  url: "<%= substitutes_path %>",
						data: { sub_teacher_id: sub_teacher_id,
										teacher_subject_id: teacher_subject_id,
										planned: $('#planned').val(),
										date_substitute: $('#date_substitute').val(),
										reason_id: $('#reason_id').val(),
										notes: $('#notes').val()
							 		}
					}).done(function() { 
					  $(this).addClass("done");
					});

				})
				
				
    });
	
</script>

<!-- refresh plugin search -->

<script type="text/javascript">
		// When document is ready: this gets fired before body onload :)
		$(document).ready(function(){
			// Write on keyup event of keyword input element
			$("#kwd_search").keyup(function(){
				// When value of the input is not blank
				if( $(this).val() != "")
				{
					// Show only matching TR, hide rest of them
					$("#teacher-sujects-table tbody>tr").hide();
					$("#teacher-sujects-table td:contains-ci('" + $(this).val() + "')").parent("tr").show();
				}
				else
				{
					// When there is no input or clean again, show everything back
					$("#teacher-sujects-table tbody>tr").show();
				}
			});
		});
		// jQuery expression for case-insensitive filter
		$.extend($.expr[":"], 
		{
		    "contains-ci": function(elem, i, match, array) 
			{
				return (elem.textContent || elem.innerText || $(elem).text() || "").toLowerCase().indexOf((match[3] || "").toLowerCase()) >= 0;
			}
		});

</script>



