<div id="login_panel">
	<%= form_tag sessions_path do %>
		
		<div class="login_fields field-group">
			<div class="field">
				<%= text_field_tag :username, params[:username], placeholder: 'username'  %>		
			</div>
		 
			<div class="field">
				<%= password_field_tag :password, nil , placeholder: 'password'  %>		
			</div>
		
		</div> <!-- .login_fields -->
	
		<div class="login_actions">

			<%= submit_tag 'Login', class: 'btn btn-primary' %>
			<br style="clear:both"/>	
		</div>
	<% end %>
	<% if flash[:alert] %>
				<div class="alert alert-error" style="
											position:absolute;
											left: 798px;
										    top: 378px;
										    width: 218px;">
					<a class="close" href="javascript:;"></a>
						<% flash.each do |name, msg| %>
						  <%= content_tag :div, msg, :id => "flash_#{name}" %>
						<% end %>
				</div>
	<% end %>

	
</div> <!-- #login_panel -->