<div id="content">			
	<div id="contentHeader">
		<h1>Confirm Request</h1>
	</div> <!-- #contentHeader -->	
	<div class="container">
		<div class="grid-24">
			<div class="widget widget-table">
				<div class="widget-header">
					<h3 class="icon chart">Substitute Information</h3>		
				</div>
				<div class="widget-content">
					<%= form_for verify_requests_path, method: :get do %>
						<div class="search">
							<div class="field">
								<%= select_tag :search_by, options_for_select(
																["Requested Teacher", "Substitute Teacher", 
																 "Subject Code"], params[:search_by]) %>
								<%= text_field_tag :search, params[:search], size: 24, :Placeholder => "Search" %>
								<%= submit_tag "Search", :name => nil, :class => "btn btn-primary btn-blue" %>
							</div>
						</div>
					<% end %>
					<table class="table table-bordered table-striped data-table">
						<thead>
							<tr>
								<th>Date Request</th>
								<th>Requested Teacher</th>
								<th>Substitute Teacher</th>
								<th>Subject Code</th>
								<th>Room #</th>
								<th>Section</th>
								<th>Type</th>
								<th>Start Time</th>
								<th>End Time</th>
								<th>Schedule</th>
								<th>Options</th>
							</tr>
						</thead>
		        <tbody>
							<%= render partial: 'verify_requests', collection: @verify_requests,  as: :verify_request %>
		        </tbody>
	        </table>
	        	<%= paginate @verify_requests %>
				</div> <!-- .widget-content -->
			   </div> <!-- .widget -->
			</div> <!-- .widget-content -->
		</div> <!-- .widget -->	
	</div> <!-- .grid -->			
</div>
			
			
<!-- refresh plugin search -->
<script type="text/javascript" src="/assets/jquerysearch.js"></script>


			
