<div id="content">			
	<div id="contentHeader">
		<h1>Substitute Records</h1>
	</div> <!-- #contentHeader -->	
	<div class="container">
		<div class="grid-24">
			<div class="widget widget-table">
				<br />
				<div class="widget-content">
					<%= form_for substitution_records_path, method: :get do %>
						<div class="search">
								<div class="field">
									<%= text_field_tag :search, params[:search] , size: 24, :Placeholder => "Search" %>
									<%= submit_tag "Search", :name => nil, :class => "btn btn-primary btn-button" %>
								</div> 
							</div>
					<% end %>
					
					<table class="table table-bordered table-striped data-table">
						<thead>
							<tr>
								<th>Date Request</th>
								<th>Absent Teacher</th>
								<th>Substitute Teacher</th>
								<th>Subject Code</th>
								<th>Room #</th>
								<th>Section</th>
								<th>Type</th>
								<th>Start Time</th>
								<th>End Time</th>
								<th>Schedule</th>
							</tr>
						</thead>
		       			 <tbody>
								<%= render partial: 'substitution_records', collection: @substutition_records,  as: :substitution_record %>
				        </tbody>
			        </table>
			        <%= paginate @substutition_records %>
				</div> <!-- .widget-content -->
			   </div> <!-- .widget -->
			</div> <!-- .widget-content -->
		</div> <!-- .widget -->	
	</div> <!-- .grid -->			
</div>
			
			
<!-- refresh plugin search -->
<script type="text/javascript" src="/assets/jquerysearch.js"></script>
