<div id="content">			
	<div id="contentHeader">
		<h1>Generate Reports</h1>
	</div> <!-- #contentHeader -->	
	<div class="container">
		<div class="grid-24">
			<% if notice %>
				<div class="notify notify-error">
					<a class="close" href="javascript:;">×</a>
					<%= notice %>
				</div>
			<% end %>

			<div class="widget-content">


					<!-- 
						<%= form_for teachers_path, method: :get do %>
							<div class="search">
								<div class="field">
									<%= text_field_tag :search, params[:search] , size: 24, :Placeholder => "Search" %>
									<%= submit_tag "Search", :name => nil %>
								</div> 
							</div>
						<% end %>
					 -->

					<table  id="my-table" class="table table-bordered table-striped data-table">
						<thead>
							<tr>
								<th>Absent Teacher</th>
								<th>Date</th>
								<th>Rendered Hours</th>
								<th>Total Hours</th> 
						</thead>
				   		 <tbody>
				   		 	<%= render partial: 'generate_reports', collection: @generate_reports, as: :generate_report %>
				    	</tbody>
				    </table>
				</div> <!-- .widget-content -->
		</div> <!-- .widget -->	
	</div> <!-- .grid -->			
</div>

