<div class="field-group inlineField " style="float:left;">	
	<div class="field">
		<label for="fullname">Fullname: </label>
		<%= f.collection_select :teacher_id, Teacher.all, :id, :fullname, prompt: true %>	
			
	</div>

	<div class="field">
		<label for="subject">Subject: </label>
		<%= f.collection_select :subject_id, Subject.all, :id,  :subjectinfo,  prompt: true %>
	</div>

	<div class="field">
		<label for="room">Room: </label>
			<%= f.collection_select :room_id, Room.all, :id, :name, prompt: true %>	
	</div>

	<div class="field">
		<label for="section">Section: </label>
			<%= f.collection_select :section_id, Section.all, :id, :name, prompt: true %>
	</div>	

	<div class="field">
		<label for="subject_type">Subject Type: </label>
			<%= f.collection_select :subject_type_id, SubjectType.all, :id, :name, prompt: true %>
	</div>	

</div>


<div class="field-group inlineField secondcolumn" style="">	

	<div class="field">
		<label for="Dayschedule">Day Schedule: </label>
			<%= f.collection_select :day_code_id, DayCode.all, :id, :name, prompt: true %>
	</div>

	<div class="field">
		<label for="time_start">Time Start: </label>
		<!-- 
			<input type="text" name="timepicker" id="timepicker" />	
 		-->
 		 <div class="input-append bootstrap-timepicker-component">
			<%= f.text_field :time_start, placeholder: 'Time Start', :id => "timepicker", :class => "timepicker-default input-small", size: 24 %>
			<span class="add-on"> <i class="icon-time"></i>
		</div>
	</div>

	<div class="field">
		<label for="time_end">Time End: </label>
		 <div class="input-append bootstrap-timepicker-component">
			<%= f.text_field :time_end, placeholder: 'Time End', :id => "timepicker", :class => "timepicker-default input-small", size: 24 %>
			<span class="add-on"> <i class="icon-time"></i>
		</div>
	</div>
</div>



<script>
	$('.timepicker-default').timepicker();
</script>