<div class="field-group inlineField " style="float:left;">	
	<div class="field">
		<%= f.label :fullname %>:
		<div class="field">
		<%= f.collection_select :teacher_id, Teacher.all, :id, :fullname, prompt: true %>	
		</div>		
	</div>
	<br/>

	<div class="field">
		<%= f.label :Subject %>:
		<div class="field">
		<%= f.collection_select :subject, Subject.all, :id,  :subjectinfo,  prompt: true %>
		</div>		
	</div>
	<br/>

	<div class="field">
		<label for="timepicker">Time End:</label>
		<div class="field">
			<input type="text" name="timepicker" id="timepicker" />	
		</div> <!-- .field -->	
	</div>
	<br/>

	<div class="field">
			<label for="timepicker">Time Start:</label>
			<div class="field">
				<input type="text" name="timepicker" id="timepicker2" />	
			</div> <!-- .field -->	
	</div>
	<br/>

	<div class="field">
		<%= f.label :Day_Schedule %>:
		<div class="field">
		<%= f.collection_select :day_code_id, DayCode.all, :id, :name, prompt: true %>	
		</div>
	</div>
	<br/>


</div>
<div class="field-group inlineField secondcolumn" style="">	
</div>