			<div class="field-group inlineField " style="float:left;">	
				<div class="field">
					<label for="full_name">Fullname :</label>
					<%= f.text_field :full_name, size: 24, placeholder: 'Full Name' %>
				</div>

				<div class="field">
					<label for="username">Username :</label>
					<%= f.text_field :username, placeholder: 'Username', size: 24 %>
				</div>
				<div class="field">
					<label for="password">Password :</label>
					<%= f.password_field :password, placeholder: 'password', size: 24  %>
				</div>
			</div>
			<div class="field-group inlineField secondcolumn" style="">	
				<div class="field">
					<label for="department">Department :</label>
					<%= f.collection_select :department_id, Department.all, :id, :name, prompt: true %>					
				</div>

				<div class="field">
					<label for="usertype">User Type :</label>
					<%= f.select :user_type, User::UserType, prompt: true %>
				</div>

				<div class="field">
					<label for="status">Status :</label>
					<%= f.select :status, [['Active', true], ['InActive', false]] %>
				</div>

			</div>