
<div id="sidebar">		
			
	<ul id="mainNav">			
		<li id="navDashboard" class="nav active">
			<span class="icon-home"></span>
			<%= link_to 'Dashboard', root_path %>
		</li>
		
		<li id="navTables" class="nav">
			<span class="icon-list"></span>
			<%= link_to "Teacher's Schedule", teacher_schedules_path %>
		</li>



		<li id="navForms" class="nav">
			<span class="icon-document-alt-stroke"></span>
			<a href="javascript:;">Department Head</a>
			
			<ul class="subNav">
				<li id="navTables" class="nav">
					<%= link_to 'Request Substitution', request_substitutions_path %>
				</li>		

				
				<li id="navTables" class="nav">
					<%= link_to 'Vouch Request',  request_substitutions_path %>
				</li>	

				<li id="navTables" class="nav">
					<%= link_to 'Remind Request',  request_substitutions_path %>
				</li>		

			</ul>		
		</li>


		<li id="navForms" class="nav">
			<span class="icon-document-alt-stroke"></span>
			<a href="javascript:;">Checker</a>
			
			<ul class="subNav">
				<li id="navTables" class="nav">
					<%= link_to 'Verify Request', generate_reports_path %>
				</li>	

				<li id="navTables" class="nav">
					<%= link_to 'Vouch Request', generate_reports_path %>
				</li>	

				<li id="navTables" class="nav">
					<%= link_to 'Genereate Reports', generate_reports_path %>
				</li>		
			</ul>	
		</li>

		
		<li id="navTables" class="nav">
			<span class="icon-info"></span>
			<%= link_to 'Substitution Record', substitution_records_path %>
		</li>



		<li id="navForms" class="nav">
			<span class="icon-document-alt-stroke"></span>
			<a href="javascript:;">Maintenance</a>
			
			<ul class="subNav">
				
				<li id="navTables" class="nav">
					<%= link_to 'User Accounts', users_path %>
				</li>		
				
				<li id="navTables" class="nav">
					<%= link_to ' User Department', departments_path %>
				</li>		
				
				<li id="navTables" class="nav">
					<%= link_to 'Teachers', teachers_path %>
				</li>		

					<li id="navTables" class="nav">
					<%= link_to 'Subjects', subjects_path %>
				</li>		

				<li id="navTables" class="nav">
					<%= link_to ' Absent Reason', reasons_path %>
				</li>	

				<li id="navTables" class="nav">
					<%= link_to 'Import Teacher Schedule', import_schedules_path %>
				</li>		
							
			</ul>		
		</li>

	</ul>
	
	
	
	
	
</div> <!-- #sidebar -->












