
<ul class="nav nav-list">
	
	<li><%= link_to 'Dashboard', root_path %></li>
	<li > <%= link_to 'Request Substitution', new_substitute_path , :class => "asudbmenu" %></li>
	<li > <%= link_to 'Confirm Request', confirm_substitutions_path %></li>
	<li ><%= link_to 'Vouch Request',  vouch_requests_path %></li>
	<li ><%= link_to 'Remind Request',  remind_substitutes_path %></li>
	<li><%= link_to 'Substitute Records', substitution_records_path %></li>
	
</ul>
