			<div class="field-group inlineField " style="float:left;">	
				<div class="field">
					<%= f.label :full_name %>
					<%= f.text_field :full_name, size: 24, placehold: 'Full Name' %>
				</div>
				<br/>

				<div class="field">
					<%= f.label :username %>
					<%= f.text_field :username, placeholder: 'Username', size: 24 %>
				</div>
				<br/>

				<div class="field">
					<%= f.label :password %>
					<%= f.password_field :password, placeholder: 'password', size: 24  %>
				</div>
				<br/>
			</div>
			<div class="field-group inlineField secondcolumn" style="">	
				<div class="field">
					<label for="department">Department :</label>
					<select name="department " id="department">
								<option>--</option>
								<option>CCS </option>
							</select>
				</div>

				<div class="field">
					<label for="usertype">User Type :</label>
					<select name="usertype " id="usertype">
							<option>--</option>
								<option>Department Head</option>
								<option>Checker</option>
							</select>
				</div>

				<div class="field">
					<label for="status">Status :</label>
					<select name="status " id="status">
							<option>--</option>
								<option>Active</option>
								<option>Inactive</option>
							</select>
				</div>

			</div>