<div id="content">			
	<div id="contentHeader">
		<h1>Subject information</h1>
	</div> <!-- #contentHeader -->	
	<div class="container">
		<div class="grid-24">
			<% if notice %>
				<div class="alert alert-success">
							<a class="close" href="javascript:;">×</a>
							<%= notice %>
				</div>
			<% end %>
			<div class="adduser">
				<%= link_to new_subject_path do %>
					<button class="btn btn-primary btn-blue">Add New Subject
					</button>
				<% end %>
				
			</div>

			<div class="widget widget-table">
				<div class="widget-header">
					<h3 class="icon chart">Subjects List</h3>		
				</div>
				
				<div class="widget-content">
					<%= form_for subjects_path, method: :get do %>
							<div class="search">
								<div class="field">
									<%= text_field_tag :search, params[:search], size: 24 , :Placeholder => "Search" %>
									<%= submit_tag "Search", :name => nil %>	
								</div>
							</div>
					<% end %>
					<table  id="my-table" class="table table-bordered table-striped data-table">
						<thead>
							<tr>
								<th>Subject Code</th>
								<th>Descrition</th>
								<th>Action</th> 
							</tr>
						</thead>
				   		 <tbody>
							<%= render partial: 'subject', collection: @subjects, as: :subject %>
				    	</tbody>
         			</table>
         			<%= paginate @subjects %>
				</div> <!-- .widget-content -->
				<?php endif;?>
			   </div> <!-- .widget -->
			</div> <!-- .widget-content -->
		</div> <!-- .widget -->	
	</div> <!-- .grid -->			
</div>



			
<!-- refresh plugin search -->
<script type="text/javascript" src="/assets/jquerysearch.js"></script>

