<div class="field-group inlineField " style="float:left;">	
	<div class="field">
		<%= f.label :firstname %>
		<%= f.text_field :firstname, size: 24, placehold: 'Fistname ' %>
	</div>
	<br/>

	<div class="field">
		<%= f.label :lastname %>
		<%= f.text_field :lastname, size: 24, placehold: 'Lastname' %>
	</div>
	<br/>

	<div class="field">
		<%= f.label :phone_number %>
		<%= f.text_field :phone_number, size: 24, placehold: 'Phone Number' %>
	</div>
	<br/>
</div>
