<tr>
	<td><%= teacher.firstname %></td>
	<td><%= teacher.lastname %></td>
	<td><%= teacher.phone_number %></td>
	<td>
		<%= link_to edit_teacher_path(teacher) do %>
			<button class="btn btn-primary btn-blue">
				Edit
			</button>
		<% end %>
	<div class="delete">
	<%= button_to "delete", teacher_path(teacher), :method=>:delete, :class=>"btn btn-primary btn-blue" %>
	</div>
	</td>	
</tr>