<div id="content">			
	<div id="contentHeader">
		<h1>Teachers Information</h1>
	</div> <!-- #contentHeader -->	
	<div class="container">
		<div class="grid-24">
			<% if notice %>
				<div class="alert alert-success">
					<a class="close" href="javascript:;">×</a>
					<%= notice %>
				</div>
			<% end %>

			<div class="adduser">
				<%= link_to new_teacher_path do %>
					<button class="btn btn-primary btn-blue">Add New teacher
					</button>
				<% end %>
				
			</div>

			<div class="widget widget-table">
				<div class="widget-header">
					<h3 class="icon chart">Teachers List</h3>		
				</div>
				
				<div class="widget-content">
					
						<%= form_for teachers_path, method: :get do %>
							<div class="search">
								<div class="field">
									<%= text_field_tag :search, params[:search] , size: 24, :Placeholder => "Search" %>
									<%= submit_tag "Search", :name => nil %>
								</div> 
							</div>
						<% end %>
					

					<table  id="my-table" class="table table-bordered table-striped data-table">
						<thead>
							<tr>
								<th>Firstname</th>
								<th>Lastname</th>
								<th>Phone Number</th>
								<th>Action</th> 
							</tr>
						</thead>
				   		 <tbody>
				   		 	<%= render partial: 'teacher', collection: @teachers, as: :teacher %>
				    	</tbody>
				    </table>
				    <%= paginate @teachers %>
				</div> <!-- .widget-content -->
			   </div> <!-- .widget -->
			</div> <!-- .widget-content -->
		</div> <!-- .widget -->	
	</div> <!-- .grid -->			
</div>
			
			
<!-- refresh plugin search -->
<script type="text/javascript" src="/assets/jquerysearch.js"></script>

