
	<ul class="nav nav-list">

	    <li><%= link_to 'Dashboard', root_path %></li>
	   	
	    <li><%= link_to 'Teacher Schedules', teacher_schedules_path %></li>

		<li class='dropper'>
			<figure>
				Department Head &nbsp ›
			</figure>
			<ul class='subSide'>
				<li class="submenu"> <%= link_to 'Request Substitution', new_substitute_path , :class => "asudbmenu" %></li>
				<li class="submenu"><%= link_to 'Plan Request',  remind_substitutes_path %></li>
				<li class="submenu"><%= link_to 'Vouch Request',  vouch_requests_path %></li>
				<li class="submenu"> <%= link_to 'Confirm Request', confirm_substitutions_path %></li>
			</ul>
		</li>


		<li class='dropper'>
			<figure>
				Checker &nbsp ›
			</figure>
			<ul class='subSide'>
				<li class="submenu"> <%= link_to 'Confirm Request', verify_requests_path %></li>
				<li class="submenu"><%= link_to 'Vouch Request',  vouch_requests_path %></li>
				<li class="submenu"><%= link_to 'Generate Report', generate_reports_path %></li>
			</ul>
		</li>

		<li><%= link_to 'Substitute Records', substitution_records_path %></li>

		<li class='dropper'>
			<figure>
				Maintenance &nbsp ›
			</figure>
			<ul class='subSide'>
				<li class="submenu"><%= link_to 'User Accounts ', users_path %></li>
				<li class="submenu"><%= link_to 'User Department',  departments_path %></li>
				<li class="submenu"><%= link_to 'Teachers List', teachers_path %></li>
				<li class="submenu"><%= link_to 'Subjects List', subjects_path %></li>
				<li class="submenu"><%= link_to 'Subject Types', subject_types_path %></li>
				<li class="submenu"><%= link_to 'Room Number', rooms_path %></li>
				<li class="submenu"><%= link_to 'Section', sections_path %></li>
				<li class="submenu"><%= link_to 'Day Schedule', daycodes_path %></li>
				<li class="submenu"><%= link_to 'Absent Reason', reasons_path %></li>
				<li class="submenu"><%= link_to 'Import Teachers Schedule', import_schedules_path %></li>
			</ul>
		</li>

	</ul>
