<tr>
	<th>8/12/12</th>
	<th><%= vouch_request.substitute_teacher_id.name if vouch_request.teacher %></th>
	<th><%= vouch_request.teacher_subject_id %></th>
	<th><%= vouch_request.teacher_subject_id %></th>
	<th><%= vouch_request.teacher_subject_id %></th>
	<th><%= vouch_request.teacher_subject_id %></th>
	<th>CI601-C</th>
	<th>LAB</th>
	<th>8:00am</th>
	<th>11:00am</th>
	<th>MWF</th>
	<th>
		<button class="btn btn-primary btn-blue">
			Confirm
		</button>
	</th>
</tr>	