<!DOCTYPE html>
<html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>

	<title>Web based Teacher Substitution System-</title>

	<meta charset="utf-8" />
	<meta name="description" content="" />
	<meta name="author" content="" />		
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<%= stylesheet_link_tag    "application", "all", :media => "all" %>
  <%= javascript_include_tag "application" %>
	
	<!--[if gte IE 9]>
	<link rel="stylesheet" href="stylesheets/ie9.css" type="text/css" />
	<![endif]-->
	
	<!--[if gte IE 8]>
	<link rel="stylesheet" href="stylesheets/ie8.css" type="text/css" />
	<![endif]-->
	
</head>

<body>
	
	<div id="wrapper">
		<div id="header">
				<%= image_tag 'logo2.png', :class => 'logo' %>
				<a href="javascript:;" id="reveal-nav">
					<span class="reveal-bar"></span>
					<span class="reveal-bar"></span>
					<span class="reveal-bar"></span>
				</a>
 		</div> <!-- #header -->
		<div class="content">

			<% if current_user.user_type == 'Admin'  %>
					<%= render 'shared/admin/navigation' %>
						<%= yield %>
					<%= render 'shared/admin/headernav' %>
			<% elsif current_user.user_type == 'Head' %>
					<%= render 'shared/head/navigation' %>
						<%= yield %>
					<%= render 'shared/head/headernav' %>
			<% elsif  current_user.user_type == 'Checker' %>
					<%= render 'shared/checker/navigation' %>
						<%= yield %>
					<%= render 'shared/checker/headernav' %>	
			<% end %>

		</div>
	
	</div> <!-- #wrapper -->

	<div id="footer">
		Copyright &copy; 2012, Thesis Project.
	</div>
	
	<script>
$(function () { 
	$( "#datepicker" ).datepicker();

	$( "#datepicker_inline" ).datepicker();
	$('#colorpickerHolder').ColorPicker({flat: true});
	$('#timepicker').timepicker ({ 
		showPeriod: true 
		, showNowButton: true
		, showCloseButton: true
	});
	
	$('#timepicker2').timepicker ({ 
		showPeriod: true 
		, showNowButton: true
		, showCloseButton: true
	});
	

	$('#timepicker_inline_div').timepicker({
	   defaultTime: '9:20'
	});		
		
	$('#colorSelector').ColorPicker({
		color: '#FF9900',
		onShow: function (colpkr) {
			$(colpkr).fadeIn(500);
			return false;
		},
		onHide: function (colpkr) {
			$(colpkr).fadeOut(500);
			return false;
		},
		onSubmit: function (hsb, hex, rgb, el) {
			$(el).ColorPickerHide ();	
		},
		onChange: function (hsb, hex, rgb) {
			$('#colorSelector div').css({ 'background-color': '#' + hex });
			$('#colorpickerField1').val ('#' + hex);
		}
	});
	
	$('#colorpickerField1').live ('keyup', function (e) {
		var val = $(this).val ();
		val = val.replace ('#', '');
		$('#colorSelector div').css({ 'background-color': '#' + val });
		$('#colorSelector').ColorPickerSetColor(val);
	});

});

</script>

	</body>
</html>
