<!DOCTYPE html>
<html lang='en'>
	<meta charset='utf-8'>
<head>  
	<title> WEB BASED TEACHER SUBSTITUTIONS</title>
	<%= stylesheet_link_tag 'application' %>
	<%= javascript_include_tag 'application' %>
</head>
<body>
<header class='navbar blue blue2 navbar-fixed-top'>
	<div class='navbar-inner'>
		<div class='container-fluid'>
			<div class='title'>
        WEB BASED TEACHER SUBSTITUTIONS
      </div>
			
			<ul class='nav pull-right'>
				<li><a href="#" rel='tooltip' title='8 Projects Remaining'><span class="badge badge-nav">8</span></a></li>
				<li><a href="#" rel='tooltip' title='2 Tasks are Urgent'><span class="badge badge-nav">2 Urgent</span></a></li>
			
				<li><a href="/logout" rel='tooltip' title='Logout'><i class="icon-white icon-off"></i></span></i></a></li>
			</ul>
		</div>
	</div>
</header>
<section class='container-fluid pad40'>
	
	<section class='row-fluid'>
    
		<div class="span2 sideBar">
			<%= image_tag 'logo2.png', :class => 'logo' %>
			<br/>

	
      <% if current_user.user_type == 'Admin'  %>
          <%= render 'shared/admin/navigation' %>
      <% elsif current_user.user_type == 'Head' %>
          <%= render 'shared/head/navigation' %>
      <% elsif  current_user.user_type == 'Checker' %>
          <%= render 'shared/checker/navigation' %>
      <% end %>


<!-- 
			<div class='sideBottom'>
				<button class='btn btn-primary headblue' data-toggle="collapse" data-target="#tasksSideList">TaskList <i class='icon-white icon-circle-arrow-down'></i></button>
				<ul id='tasksSideList' class='collapse in'>
					<li data-taskId='6' data-taskState='1'><a href="#">Explore Elements</a></li>
					<li data-taskId='5' data-taskState='0'><a href="#">Add New Project</a></li>
					<li data-taskId='4' data-taskState='0'><a href="#">Add New Messages</a></li>
					<li data-taskId='3' data-taskState='1'><a href="#">Custom Functions</a></li>
					<li data-taskId='2' data-taskState='0'><a href="#"></a>Custom CSS</li>
					<li data-taskId='1' data-taskState='1'><a href="#">Love this Theme :)</a></li>
				</ul>
			</div> -->
		</div>

		<section class='span10 content borBox'>
			<%= yield %>
		</section>
  
</section>

<div id="footer">
  Copyright &copy; 2012, Thesis Project.
</div>
</body>
</html>

