<!DOCTYPE html>
<html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>

	<title>Web based Teacher Substitution System-</title>

	<meta charset="utf-8" />
	<meta name="description" content="" />
	<meta name="author" content="" />		
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<%= stylesheet_link_tag    "application", "all", :media => "all" %>
  <%= javascript_include_tag "application" %>
	
	<!--[if gte IE 9]>
	<link rel="stylesheet" href="stylesheets/ie9.css" type="text/css" />
	<![endif]-->
	
	<!--[if gte IE 8]>
	<link rel="stylesheet" href="stylesheets/ie8.css" type="text/css" />
	<![endif]-->
	
</head>

<body>
	
	<div id="wrapper">
		<div id="header">
				<%= image_tag 'logo2.png', :class => 'logo' %>
				<a href="javascript:;" id="reveal-nav">
					<span class="reveal-bar"></span>
					<span class="reveal-bar"></span>
					<span class="reveal-bar"></span>
				</a>
 		</div> <!-- #header -->
		<div class="content">
			<%= render 'shared/navigation' %>
			<%= yield %>
			<%= render 'shared/headernav' %>
		</div>
	
	</div> <!-- #wrapper -->

	<div id="footer">
		Copyright &copy; 2012, Thesis Project.
	</div>
	
	</body>
</html>
