<div class="widget widget-table">
	<div class="widget-header">
	<h3 class="icon chart">Substitution Information</h3>
	</div>
	<div class="widget-content">
		<div class="grid-24">

			<div class="form" style="width:400px; float:left;">
				<div class="field">
					<label>Request Type :</label>
					
					<select>
						<option>Unplan</option>
						<option>Plan</option>
					</select>
					
				</div>

			</div>
			<div class="form" style="width:400px; float:left;">

				<div class="field">
					<label>Absent Teacher :</label>
					<%= text_field_tag :absent_teacher %>
				</div>

			</div>
			<br style="clear:both;"/>
		</div>
	</div>

	<br/>
	<div class="grid-24">
		<h3 class="icon chart">Absent Subject</h3>
	<table id="sub-teacher-subjects-table" class="table table-bordered table-striped data-table">
			<thead>
				<tr>
					<th>Subject Code</th>
					<th>Room #</th>
					<th>Section</th>
					<th>Type</th>
					<th>Start Time</th>
					<th>End Time</th>
					<th>Schedule</th>
					<th>Options</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>Subject Code</th>
					<th>Room #</th>
					<th>Section</th>
					<th>Type</th>
					<th>Start Time</th>
					<th>End Time</th>
					<th>Schedule</th>
					<th><button class="btn btn-primary btn-blue">Select</button></th>
				</tr>
			</tbody>
	</table>
	</div>

	<br/>
	<div class="grid-24">
		<h3 class="icon chart">Available Teacher</h3>
		<%= form_for vouch_requests_path, method: :get do %>
			<div class="search">
				<div class="field">
					<%= select_tag :search_by, options_for_select(
													["Please Select", "Subject"], params[:search_by]) %>
					<%= select_tag :search_by, options_for_select(
													["Please Select", "Schedule" ],
													 params[:search_by]) %>								 	
					<%= submit_tag "Filter", :name => nil, :class => "btn btn-primary btn-blue" %>
				</div>
			</div>
		<% end %>
		<table id="sub-teacher-subjects-table" class="table table-bordered table-striped data-table">
			<thead>
				<tr>
					<th>Fullname</th>
					<th>Options</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>First load  the teacher with the same subject and schedule</th>
					<th><button class="btn btn-primary btn-blue">Substitute</button></th>
				</tr>
			</tbody>
	</table>
	</div>

	<br/>
	<div class="grid-24">

		<h3 class="icon chart">Substitution</h3>
		<table id="sub-teacher-subjects-table" class="table table-bordered table-striped data-table">
			<thead>
				<tr>

					<th>Asent Teacher</th>
				
					<th>Substitute Teacher</th>
					
					<th>Room #</th>
					<th>Start Time</th>
					<th>End Time</th>
					<th>Schedule</th>
					<th>Options</th>
				
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>Combine sa Two ka table sa taas, ari tah mag loop nga table para save?</th>
					
					<th>Substitute Teacher</th>
					
					<th>Room #</th>
					<th>Start Time</th>
					<th>End Time</th>
					<th>Schedule</th>
					<th><button class="btn btn-primary btn-blue">Cancel</button></th>
				</tr>
			</tbody>
		</table>
	</div><br style="clear:both;"/>
	<div class="grid-24">
		<div class="form" style="width:400px; float:left;">
			<div class="field">
				<label>Reason :</label>
				<select>
					<option>Leave</option>
					<option>Sick</option>
				</select>
			</div>
			<div class="field">
				<label>Notes :</label>
				<%= text_area_tag :notes %>
			</div>
		</div>

		<div class="form" style="width:400px; float:left;">
			<div class="field">
				<label>Start Request Date:</label>
				<%= text_field_tag :daterequest %>
			</div>

			<div class="field">
				<label>End Request Date:</label>
				<%= text_field_tag :daterequest %>
			</div>
		</div>
		<br style="clear:both;"/>
	</div>
	<div class="fmenu">
		<br style="clear:both;">
			
			<%= link_to 'Cancel', teacher_schedules_path, class: 'btn btn-primary btn-blue'  %>
			<button class="btn btn-primary btn-blue">Save</button>
	</div>
	<br style="clear:both;"/>
	<br style="clear:both;"/>
</div>






<script type="text/javascript">
$( "#daterequest" ).datepicker({
							numberOfMonths: 2,
							showButtonPanel: true,
							changeMonth: true,
							changeYear: true
				});
$( "#datesubstitute" ).datepicker({
							numberOfMonths: 2,
							showButtonPanel: true,
							changeMonth: true,
							changeYear: true
				});
</script>