<div class="widget widget-table">
	<div class="widget-header">
	<h3 class="icon chart">Substitution Information</h3>
	</div>

	<div class="alert alert-error" style="display: none"></div>
	
	<%= form_tag substitutes_path, id: 'create-substitute-form', method: :post do %>
	
		<div class="widget-content">
			<div class="grid-24">
				
				<div class="form" style="width:400px; ">
					<div class="field">
						<label>Request Type :</label>
						<%= select_tag :planned, options_for_select([["Unplan", false], ["Plan", true]]) %>					
					</div>

				</div>
				<div class="form" style="width:400px; float:left;">

					<div class="field">
						<label>Request Teacher :</label>
						<%= text_field_tag :absent_teacher, :style => "width:100px;" %>
					</div>

				</div>
				<br style="clear:both;"/>
			</div>
		</div>

		<br/>
		<div class="grid-24">
			<h3 class="icon chart">Selected Teacher Subjects</h3>
			
			<table id="select-teacher-subjects-table" class="table table-bordered table-striped data-table">
				<thead>
					<tr>
						<th width="50%">Subject Information</th>
						<th>Schedule</th>
						<th>Available Teacher</th>
					</tr>
				</thead>
				<tbody></tbody>
		</table>
		</div>

		<div class="grid-24">
			<div class="form" style="width:400px; float:left;">
				<div class="field">
					<label>Reason :</label>
					<%= select_tag :reason, options_for_select(Reason.all.collect { |u| [u.name, u.id] }) %>
				</div>
				<div class="field">
					<label>Notes :</label>
					<%= text_area_tag :notes %>
				</div>
			</div>

			<div class="form" style="width:400px; float:left;">
				<div class="field">
					<label>Start Request Date:</label>
					<%= text_field_tag :request_at_from, nil, class: 'datepicker' %>
				</div>

				<div class="field">
					<label>End Request Date:</label>
					<%= text_field_tag :request_at_to, nil, class: 'datepicker' %>
				</div>
			</div>
			<br style="clear:both;"/>
		</div>
		<div class="fmenu">
			<br style="clear:both;">
			
				<%= link_to 'Cancel', new_substitute_path, class: 'btn btn-primary btn-blue'  %>
				<button class="btn btn-primary btn-blue">Save</button>
		</div>
		
	<% end %>
	
	<br style="clear:both;"/>
	<br style="clear:both;"/>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		
		$("form").submit(function() {
			 // check if form has all the required field
			var proceed = true;
			var select_box_proceed = false;
	
			$('.alert').html("");
	
			 // check if has selected teacher
			if($('#absent_teacher').val() == ''){
				$('.alert').append("Please select a requester teacher <br />");
				proceed = false;
			}
			
			if($('#request_at_from').val() == '' || $('#request_at_to').val() == ''){
				$('.alert').append("Please fill up request date from and to <br />");
				proceed = false;
			}
			
			// check each select box if not empty
			if($('.available-teacher-options')){
				
				$('.available-teacher-options').each(function(){
				
					if(!select_box_proceed && $(this).val() != "" ){
						select_box_proceed = true;
					}
				})
						
				if(!select_box_proceed){
					$('.alert').append("Please select one or more subject!");
					proceed = false;
				}
			
			}
			
			
			if(!proceed){ $('.alert').show() }
		  

			return proceed;
		});
		
		$( ".datepicker" ).datepicker({
											numberOfMonths: 2,
											showButtonPanel: true,
											changeMonth: true,
											changeYear: true,
											dateFormat: 'yy/mm/dd'
										});
		
	})

</script>