<div class="widget widget-table">
	<div class="widget-header">
	<h3 class="icon chart">Substitution Information</h3>
	</div>
	<div class="widget-content">
		<div class="grid-24">

			<div class="form" style="width:400px; float:left;">
				<div class="field">
					<label>Request Type :</label>
					
					<select>
						<option>Unplan</option>
						<option>Plan</option>
					</select>
					
				</div>

			</div>
			<div class="form" style="width:400px; float:left;">

				<div class="field">
					<label>Request Teacher :</label>
					<%= text_field_tag :absent_teacher %>
				</div>

			</div>
			<br style="clear:both;"/>
		</div>
	</div>

	<br/>
	<div class="grid-24">
		<h3 class="icon chart">Selected Teacher Subjects</h3>
			
		<table id="select-teacher-subjects-table" class="table table-bordered table-striped data-table">
				<thead>
					<tr>
						<th width="50%">Subject Information</th>
						<th>Schedule</th>
						<th>Available Teacher</th>
					</tr>
				</thead>
				<tbody></tbody>
		</table>
	</div>

	<div class="grid-24">
		<div class="form" style="width:400px; float:left;">
			<div class="field">
				<label>Reason :</label>
				<select>
					<option>Leave</option>
					<option>Sick</option>
				</select>
			</div>
			<div class="field">
				<label>Notes :</label>
				<%= text_area_tag :notes %>
			</div>
		</div>

		<div class="form" style="width:400px; float:left;">
			<div class="field">
				<label>Start Request Date:</label>
				<%= text_field_tag :daterequest %>
			</div>

			<div class="field">
				<label>End Request Date:</label>
				<%= text_field_tag :daterequest %>
			</div>
		</div>
		<br style="clear:both;"/>
	</div>
	<div class="fmenu">
		<br style="clear:both;">
			
			<%= link_to 'Cancel', teacher_schedules_path, class: 'btn btn-primary btn-blue'  %>
			<button class="btn btn-primary btn-blue">Save</button>
	</div>
	<br style="clear:both;"/>
	<br style="clear:both;"/>
</div>

<script type="text/javascript">
$( "#daterequest" ).datepicker({
							numberOfMonths: 2,
							showButtonPanel: true,
							changeMonth: true,
							changeYear: true
				});
$( "#datesubstitute" ).datepicker({
							numberOfMonths: 2,
							showButtonPanel: true,
							changeMonth: true,
							changeYear: true
				});
</script>