<%= content_tag :tr, subject, data: { subject_id: subject.subject.id, 
																			subject_name: subject.subject.name,
																			subject_time_daycode: subject.start_end_time_daycode } do %>
	<td><%= subject.subject.name  %></td>
	<td><%= subject.time_start.strftime('%l:%M %p') %> / <%= subject.time_end.strftime('%l:%M %p') %></td>
	<td><%= subject.day_code.name %></td>
	<td>
		<button class="assign-subject-btn btn btn-primary btn-blue">
			Select
		</button>
	</td>
<% end %>