<tr>
																			
	<td>
		<h3><%= subject.subject.name %></h3>
		<div><%= subject.subject.code %></div>
	</td>
	<td><%=  subject.start_end_time_daycode %></td>
	<td>
		<%= hidden_field_tag 'teacher_schedule_id[]', subject.id %>
		<%= select_tag "available_teacher[]", 
						options_from_collection_for_select(subject.fetch_available_teacher, :id , :fullname) %>

	</td>
</tr>